In [25]:
import elasticc_for_etienne as efe
import matplotlib.pyplot as plt
import pickle

import numpy as np
import sncosmo
from astropy.table import Table

from iminuit import Minuit
from iminuit.cost import LeastSquares

import pandas as pd
import os

In [2]:
with open('preprocess_data/ELASTICC_TRAIN_SNIb+HostXT_V19.pkl', 'rb') as handle:
    lcs = pickle.load(handle)

In [ ]:
# If you need to randomly select objects

rng = np.random.default_rng()

for idx in rng.choice(list(range(0, len(lcs))), 1, replace=False):
    obj=lcs[idx]
    extraction = efe.perform_fit(obj)
    param = extraction[0]
    
    extra = extraction[1]
    efe.plot_gri(obj, param)
    
"""

# If you want to visualise one
idx = 1108
obj=lcs[idx]
param = efe.perform_fit(obj)[0]
efe.plot_gri(obj, param)
param

"""

# ------------------------------------------------------------
# Merge a divided feature extraction

In [41]:
name = 'ELASTICC_TRAIN_uLens-Binary'
main_file = 'features'


path = f'{main_file}/sub_features/{name}/'

all_filenames = np.sort(np.array(os.listdir(path)))

isfeatures =[".parquet" in f for f in all_filenames]
features = pd.concat([pd.read_parquet(path+ f) for f in all_filenames[isfeatures]],ignore_index=True)

In [42]:
features.to_parquet(f'{main_file}/{name}_features.parquet')

In [43]:
features

,a,t0,tT,tfall,trise,Tmin,dT,ksig,error,max_flux,max_time
0,4.616442,-13.715497,-36.492137,28.464446,-15.840268,3868.783418,2.021661e-07,0.875847,14859.710216,1070.163086,60849.0545
1,11.465617,-124.971340,100.000000,97.284066,-26.084110,3513.411973,1.637591e+03,3.928097,24231.512226,410.959778,61057.2551
2,20.757190,92.448323,-20.765830,9.505114,-7.884720,2054.433688,1.645541e+03,2.881564,7562.616544,108.615730,60502.2100
3,2.817328,-12.242752,-29.126097,102.622794,-9.519601,3562.154112,1.236199e+03,0.053327,10491.667867,178.398148,61082.1508
4,29.328540,39.135546,21.374572,32.745111,-15.723375,2473.233844,5.675867e+02,0.348839,736.446046,39.622395,60443.3339
...,...,...,...,...,...,...,...,...,...,...,...
3327,17.109899,0.136009,-91.069660,0.119307,-0.118717,3036.347030,8.145225e+03,0.858971,274158.716748,68.566193,60295.2921
3328,35.216446,9.766978,-7.943265,6.010490,-5.382950,1966.228314,6.871342e+02,0.018472,606.673038,74.352997,60803.3437
3329,7.218588,-18.712898,-0.257285,29.732376,-1.669930,3557.740095,6.513305e+03,0.158717,160.857143,35.037086,61113.2582
3330,32.281560,198.568913,99.677321,57.463823,-29.999969,4097.466987,7.509650e+03,0.010001,698628.350073,-310.795471,60350.1296
3331,13.221880,-62.154115,26.922983,39.251389,-0.721103,3714.464636,1.326131e+03,4.951568,339.145823,59.669353,60613.2846